/* RESET E INIZIALIZZAZIONE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial;
    font-size: 30px;
    background-color: gray;
}

/* MEDIA QUERY PER IL FONT SOTTO VARIE MISURE*/

@media screen and (max-width: 800px) {
    body {
        font-size: 25px;
    }
}

@media screen and (max-width: 520px) {
    body {
        font-size: 20px;
    }
}